<style>
    #boxInfo{
        width: 900px;
        height: 600px;
        background-color: rgba(255, 255, 255, 0.5);
        margin: 150px auto;
        border-radius: 20px;
    }

    div{
        display: inline-block;
        margin-top: 100px;
        color: black;
        font-size: 22px;
    }

    .bold{
        font-weight: bold;
    }
</style>
<div id="boxInfo">
    <div>Nome da empresa: <span class="bold">{{nome}}</span></div>
    <br>
    <div>CNPJ da empresa: <span class="bold">{{cnpj}}</span></div>
</div>
