<link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
<script src="https://polyfill.io/v3/polyfill.min.js"></script>
<style>

    #body {
        background-image: url('pic.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
        margin: 0;
        padding: 0;
        min-height: 100vh;
        text-align: center;
        flex-direction: column;
        display: flex;
    }

    #header{
        background-color: rgba(0, 0, 0, 0.502);
        height: 50px
    }

    #header a{
      margin-left: 40px;
      display: inline-flex;
      margin-top: 10px;
      text-decoration: none;
      font-size: 20px;
      color: rgb(255, 255, 255);
    }

    #header a:hover{
      color: rgb(94, 94, 94);
    }

</style>
<div id="body">
    <div id="header">
        <a href="/">Inicio</a>
        @if (logado == false){
            <a href="/login">Login</a>
        }

        @if (logado == true){
            @if(admin == true){
                <a href="/cadastro/empresa">Cadastrar Empresa</a>
                <a href="/cadastro/socio">Cadastrar Sócio</a>
                <a href="/listagem/empresa">Listagem Empresas</a>
                <a href="/listagem/socio">Listagem Sócios</a>
            }
            <a href="/minhaEmpresa">Informações da minha empresa</a>
            <a (click)="deslogar()" type="button" style="cursor: pointer;">Deslogar</a>
        }
    </div>

<router-outlet />

</div>
